*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    text-decoration: none;
}


.header{
    display: flex;
    align-items: center;
    padding-top: 40px;
    border-bottom: 2px solid #000;
    margin-bottom: 0;
}


.logo{
    margin: 17px 45px 11px 100px;
    width: 158px;
    border-right: 2px solid grey;
}


.all-change{
    width: 80px;
    border-right: 2px solid grey;
    margin-right: 50px;
}


.RU{
    background-color:lightgreen;
    width: 26px;
}


.all-curse{
    width: 120px;
    border-right: 2px solid grey;
    margin-right: 30px;
}


.all-socials{
    width: 130px;
    border-right: 2px solid grey;
    margin-right: 70px;
    height: 40px;
    padding-top: 10px;
    display: inline;
}


.socials{
    height: 20px;
    width: 90px;
    display: flex;
    justify-content: space-between;
}


.all-numbers{
    width: 250px;
    border-right: 2px solid grey;
    margin-right: 80px;
    height: 50px;
    display: flex;
}


.all-smart{
    margin-left: 40px;
}


.maistra-onl{
    width: 280px;
    margin-right: 50px;
}


.tury{
    width: 240px;
    margin-right: 50px;
}





.search{
    width: 100%;
    height: 80px;
    margin-top: 0;
}


.nav a{
    text-decoration: none;
}



.ic-search{
    margin: 35px auto auto 175px;
    height: 18px;
    border: none
}






.nav{
    margin: 0 auto;
}

nav{
    margin: 50px auto;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
}

nav ul li{
    display: inline-block;
}


nav a{
    display: block;
    padding: 0 10px;
    font-size: 20px;
    line-height: 60px;
}


nav a:hover{
    background: rgb(255, 230, 0);
}


nav ul ul{
    display: none;
    position: absolute;
    top: 60px;
}

nav ul li:hover > ul{
    display: inherit;
}


nav ul ul li{
    width: 180px;
    float: none;
    display: list-item;
    position: relative;
}


nav ul ul ul li{
    position: relative;
    top: -60px;
    left: 180px;
}


li > a::after{
    content: ' +';
}



li > a:only-child::after { content: '';}



.reklam{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 15.5%, rgba(0, 0, 0, 0.8) 101.12%), url('img/maxresdefault\ \(1\)\ 2.jpg') no-repeat center center;
    background-size: cover;
    height: 500px;
    padding-top: 50px;
    padding-left: 105px;
}


.cost{
    width: 250px;
    height: 45px;
    border: 2px solid white;
    text-align: center;
    padding: 6px 21px;
}


.cost a{
    color: white;
    text-decoration: none;
}


.new-hot{
    width: 1100px;
    margin: 16px auto 40px 0;
    color: white;
    font-size: 70px;
}



.details{
    width: 270px;
    height: 60px;
    background: rgba(255, 255, 255, 0.25);
    padding: 18px 85px 22px 86px;
}


.details a{
    text-decoration: none;

}


.p-details{
    text-emphasis-color: white;
}



a{
    color: white;
}


ul li a{
    color: rgb(255, 38, 0);
}



.all-descr{
    display: flex;
}


.describing{
    background: #F8F8F8;
    width: 60%;
    height: 500px;
}

.describing-h1{
    width: 625px;
    height: 70px;
    margin: 30px 620px 150px 200px;
}


.describing p{
    width: 335px;
    height: 30px;
    margin: 15px 900px 105px 200px;
}


.all-wh-we-give{
    display: flex;
}


.wh-we-give{
    width: 250px;
    height: 50px;
    background: #BDBDBD;
    margin-left: 200px;
    padding: 15px 44px;
}


.a-wh-we-give {
    text-decoration: none;
    color: white;
    margin-left: 15px;
}


.consultation{
    width: 220px;
    height: 50px;
    border: 1px solid #969696;
    border-radius: 2px;
    margin-left: 30px;
    padding: 15px 50px;
}


.consultation-a{
    text-decoration: none;
    color: #969696;
    margin-left: 13px;
}


.for-bor{
    border: 2px dashed rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 13px;
    margin-right: 20px;
}


.all-par{
    background: #F8F8F8;
    width: 100%;
}


.par-1{
    margin-top: 60px;
    display: flex;
    align-items: center;
}


.par-2{
    margin-top: 60px;
    display: flex;
    align-items: center;
}


.par-3{
    margin-top: 60px;
    display: flex;
    align-items: center;
}







.all-best-hot{
    height: 800px;
}


.best-hot{
    display: flex;
}


.best-hot h1{
    margin: 90px 190px 50px 200px;
    height: 50px;
}


.vleft{
    width: 50px;
    height: 50px;
    border: 2px solid #C6C6C6;
    border-radius: 50%;
    margin: 90px 20px 50px 50px;
    padding: 11px;
}


.vright{
    width: 50px;
    height: 50px;
    border: 2px solid #454545;
    border-radius: 50%;
    padding: 11px;
    margin: 90px 110px 0 0;
}


.line{
    width: 350px;
    height: 1px;
    border: 1px solid #C6C6C6;
    margin-top: 112px;
    margin-right: 80px;
}


.all-hotels{
    width: 120px;
    height: 50px;
    border: 2px solid #454545;
    text-align: center;
    margin-top: 90px;   
    padding-top: 13px;
}


.all-hotels a{
    text-decoration: none;
    color: grey;
}


.all-card-hot{
    display: flex;
}


.card-hot-1{
    width: 580px;
    height: 560px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.6) 100%), url(img/portonovi.png) no-repeat;
    background-size: cover;
    margin-right: 125px;
}


.card-hot-2{
    width: 580px;
    height: 560px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.6) 100%), url(img/276398231\ 2.png) no-repeat;
    background-size: cover;
    margin-right: 125px;
}


.card-hot-3{
    width: 580px;
    height: 560px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.6) 100%), url(img/c41c4172\ 1.png) no-repeat;
    background-size: cover;
}



















































































